# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.pyc
*.so
*.swp
*.sqlite3

# If you are using migrations
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.so
*/migrations/*.pyd
*/migrations/__pycache__

# Environment variables
.env

# Database files
*.sqlite3
db.sqlite3

# Media files
media/

# Static files
staticfiles/
static/

# Local development settings
local_settings.py

# Virtual environment
venv/
ENV/
env/
.venv/

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
.pylint.d/

# Pyre
.pyre/
