{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}
  Register
{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/%40form-validation/form-validation.css' %}" />
{% endblock vendor_css %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static  'vendor/css/pages/page-auth.css' %}" />
{% endblock page_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/%40form-validation/popular.js' %}"></script>
<script src="{% static 'vendor/libs/%40form-validation/bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/%40form-validation/auto-focus.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static  'js/pages-auth.js' %}"></script>
{% endblock page_js %}

{% block content %}
<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">

      <!-- Register Card -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center">
            <a href="{% url 'index' %}" class="app-brand-link gap-2">
              <span class="app-brand-logo demo">
                {% include 'partials/logo.html' with width=25 withbg="#696cff" %}
              </span>
              <span class="app-brand-text demo text-body fw-bold">{% get_theme_variables 'template_name' %}</span>
            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-2">Adventure starts here 🚀</h4>
          <p class="mb-4">Learning made easy and fun again!</p>
          {% comment %} {% url 'index' %} {% endcomment %}
          <form id="formAuthentication" class="mb-3" method="POST" action="{% url 'auth:register' %}">
            {% csrf_token %}
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}" {% endif %}
                      role="alert">
                      <button type="button" class="btn-close" data-bs-dismiss="alert"
                        aria-label="Close"
                      ></button>
                      <strong>{{ message|escape }}</strong>
                    </div>
                    {% endfor %}
                  </div>
              {% endif %}

            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" autofocus>
            </div>
            {% comment %} <div class="mb-3">
              <label for="firstname" class="form-label">Firstname</label>
              <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter your firstname" autofocus>
            </div>
            <div class="mb-3">
              <label for="lastname" class="form-label">Lastname</label>
              <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter your lastname" autofocus>
            </div> {% endcomment %}
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email">
            </div>
            <div class="mb-3 form-password-toggle">
              <label class="form-label" for="password">Password</label>
              <div class="input-group input-group-merge">
                <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
            </div>
            <div class="mb-3 form-password-toggle">
              <label class="form-label" for="password_confirmation">Confirm Password</label>
              <div class="input-group input-group-merge">
                <input type="password" id="password_confirmation" class="form-control" name="password_confirmation" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
            </div>

            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms">
                <label class="form-check-label" for="terms-conditions">
                  I agree to
                  <a href="javascript:void(0);">privacy policy & terms</a>
                </label>
              </div>
            </div>
            <button class="btn btn-primary d-grid w-100">
              Sign up
            </button>
          </form>

          <p class="text-center">
            <span>Already have an account?</span>
            <a href="{% url 'auth:login' %}">
              <span>Sign in instead</span>
            </a>
          </p>
        </div>
      </div>
      <!-- Register Card -->
    </div>
  </div>
</div>
{% endblock content %}
