{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Profile{% endblock %}
{% block page_js %}
{{ block.super }}
<script src="{% static 'js/pages-account-settings-account.js' %}"></script>
{% endblock page_js %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static  'vendor/libs/%40form-validation/popular.js' %}"></script>
<script src="{% static  'vendor/libs/%40form-validation/bootstrap5.js' %}"></script>
<script src="{% static  'vendor/libs/%40form-validation/auto-focus.js' %}"></script>
{% endblock vendor_js %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <h5 class="card-header">Profile Details</h5>
      <!-- Account -->
      <form id="formAccountSettings" action="{% url 'user:user-profile' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="card-body">
        <div class="d-flex align-items-start align-items-sm-center gap-4">
          <img src="{{ user|profile_picture_url }}" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar" />
          <div class="button-wrapper">
            <label for="profile_picture" class="btn btn-primary me-2 mb-4" tabindex="0">
              <span class="d-none d-sm-block">Upload new photo</span>
              <i class="bx bx-upload d-block d-sm-none"></i>
              <input type="file" id="profile_picture" name="profile_picture" class="account-file-input" hidden accept="image/png, image/jpeg" />
            </label>
            <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
              <i class="bx bx-reset d-block d-sm-none"></i>
              <span class="d-none d-sm-block">Reset</span>
            </button>

            <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
          </div>
        </div>
      </div>
      <hr class="my-0">
      <div class="card-body">
          {% if profile_update %}
            {% if messages %}
              <div class="messages mx-3">
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" {% endif %}
                  role="alert">
                  <button type="button" class="btn-close" data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                  {{ message|escape }}
                </div>
                {% endfor %}
              </div>
            {% endif %}
          {% endif %}

          <div class="row">
            <div class="mb-3 col-md-6">
              <label for="firstName" class="form-label">First Name <span class="text-danger">*</span></label>
              <input class="form-control" type="text" id="first_name" name="first_name" value="{{ profile_update_form.first_name.value|default:user.first_name }}" autofocus />
            </div>
            <div class="mb-3 col-md-6">
              <label for="lastName" class="form-label">Last Name  <span class="text-danger">*</span></label>
              <input class="form-control" type="text" name="last_name" id="last_name" value="{{ profile_update_form.last_name.value|default:user.last_name }}" />
            </div>
            <div class="mb-3 col-md-6">
              <label for="email" class="form-label">E-mail  <span class="text-danger">*</span></label>
              <input class="form-control" type="text" id="email" name="email" value="{{ user.email }}" placeholder="hackme@example.com" disabled />
              <input type="hidden" name="email" value="{{ user.email }}">
            </div>
            <div class="mb-3 col-md-6">
              <label for="username" class="form-label">Username  <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="username" name="username" value="{{ profile_update_form.username.value|default:user.username }}" />
            </div>
            <div class="mb-3 col-md-6">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title" value="{{ profile_update_form.title.value|default:user.profile.title|default_if_none:'' }}" placeholder="{% if user_role == 'user' %} Student {% else %}Web Developer, Designer, and Teacher{% endif %}" />
            </div>
            <div class="mb-3">
              <span class="text-danger">*</span> Required fields
            </div>
          </div>
          <div class="mt-2">
            <button type="submit" class="btn btn-primary me-2">Save changes</button>
            <button type="reset" class="btn btn-outline-secondary">Cancel</button>
          </div>
      </div>
      </form>
      <!-- /Account -->
    </div>
    <div class="card">
      <h5 class="card-header">Password Update</h5>
      <div class="card-body">
        {% if password_update %}
          {% if messages %}
            <div class="messages mx-3">
              {% for message in messages %}
              <div {% if message.tags %} class="{{ message.tags }}" {% endif %}
                role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
                {{ message|escape }}
              </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endif %}
        <form id="formAccountDeactivation" action="{% url 'user:password-update'  %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="form" value="password-update">
          <div class="mb-3 col-12">
            <label for="old_password" class="form-label">Current Password  <span class="text-danger">*</span></label>
            <div class="input-group input-group-merge">
              <input type="password" class="form-control" id="old_password" name="old_password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
              aria-describedby="old_password"/>
              <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-md-6">
              <label for="new_password" class="form-label">New Password  <span class="text-danger">*</span></label>
              <div class="input-group input-group-merge">
                <input type="password" class="form-control" id="new_password" name="new_password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                aria-describedby="new_password"/>
                <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
              </div>
            </div>
            <div class="mb-3 col-md-6">
              <label for="new_password_confirmation" class="form-label">New Password Confirmation</label>
              <div class="input-group input-group-merge">
                <input type="password" class="form-control" id="new_password_confirmation" name="new_password_confirmation" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                aria-describedby="new_password_confirmation" />
                <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Update Password</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
