{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}
Regsiter {{ 'courses.name'|get_config }}
{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/sweetalert2/sweetalert2.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}"/>
<link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}"/>
<link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/plyr/plyr.css' %}" />
{% endblock vendor_css %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet"  href="{% static 'vendor/css/pages/app-course-details.css' %}"/>
{% endblock page_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<!-- Form Validation -->
{% comment %} <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> {% endcomment %}
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'vendor/libs/plyr/plyr.js' %}"></script>
<script src="{% static 'vendor/libs/sweetalert2/sweetalert2.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/extended-ui-perfect-scrollbar.js' %}"></script>
<script src="{% static 'js/app-course-details.js' %}"></script>
{% endblock page_js %}

{% block content %}

<div class="card g-3 mt-2">
  <div class="card-body row g-3">
    <div class="col-lg-8">
      <div class="d-flex justify-content-between align-items-center flex-wrap mb-2 gap-1">
        <div class="me-1">
          <form action="{% url 'user:register-course' course.id %}" method="post">
            {% csrf_token %}

            <input type="hidden" name="route-name" value="register-course">
            <button type="submit" class="w-100 btn btn-primary mb-4"> Register  {{ course.name }}</button>
        </form>
          <p class="mb-1">Tutor. <span class="fw-medium {% random_text_color %}"> {{course.instructor.last_name}} {{course.instructor.first_name}} </span></p>
        </div>
        <div class="d-flex align-items-center">
          <span class="badge {% random_bg_label_color %}">{{ course.content_type|remove_before_vertical_bar }}</span>
          <i class='ti ti-share ti-sm mx-4 cursor-pointer'></i>
          <i class='ti ti-bookmarks ti-sm cursor-pointer'></i>
        </div>
      </div>
      <div class="card academy-content shadow-none border">
        <div class="p-2">
          <div class="cursor-pointer">
            <img src="{{ course.image.url }}" alt="" class="w-100 border border-secondary-subtle bg-primary rounded" style="height: 400px;">
          </div>
        </div>
        <div class="card-body">
          <h5 class="mb-2">About this course</h5>
          <p class="mb-0 pt-1">Learn "{{ course.name|lower  }}" in {{total_duration|convert_minutes}} with {{lessons_count}} lessons!</p>
          <hr class="my-4">
          <h5>By the numbers</h5>
          <div class="d-flex flex-wrap">
            <div class="me-5">
              <p class="text-nowrap"><i class='ti ti-checks ti-sm me-2 mt-n2'></i>Skill level: {{ course.level }}</p>
              <p class="text-nowrap"><i class='ti ti-user ti-sm me-2 mt-n2'></i>Students: {{users_count}}</p>
              <p class="text-nowrap"><i class='ti ti-flag ti-sm me-2 mt-n2'></i>Languages: English</p>
              <p class="text-nowrap "><i class='ti ti-file ti-sm me-2 mt-n2'></i>Captions: Yes</p>
            </div>
            <div>
              <p class="text-nowrap"><i class='ti ti-pencil ti-sm me-2 mt-n2'></i>Lessons: {{lessons_count}}</p>
              <p class="text-nowrap "><i class='ti ti-clock ti-sm me-2 mt-n2'></i>Duration: {{total_duration|convert_minutes}}</p>
            </div>
          </div>
          <hr class="mb-4 mt-2">
          <h5>Description</h5>
         <div>
            {{course.description}}
         </div>
          <hr class="my-4">
          <h5>Instructor</h5>
          <div class="d-flex justify-content-start align-items-center user-name">
            <div class="avatar-wrapper">
              <div class="avatar me-2"><img src="{% static 'img/avatars/1.png' %}" alt="Avatar" class="rounded-circle"></div>
            </div>
            <div class="d-flex flex-column">
              <span class="fw-medium">{{course.instructor.last_name}} {{course.instructor.first_name}}</span>
              <small class="text-muted">{{course.instructor.profile.title}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="accordion stick-top accordion-bordered" id="courseContent">
        {% for course_topic in course_topics %}
        {% with kount=forloop.counter|number_to_words %}
          <div class="accordion-item {% if kount == "One" %} active {% endif %} mb-0">
            <div class="accordion-header" id="heading{{kount}}">
              <button type="button" class="accordion-button bg-lighter rounded-0 {% if kount != "One" %} collapsed {% endif %}" data-bs-toggle="collapse" data-bs-target="#chapter{{kount}}" aria-expanded="{% if kount == "One" %} true {% else %} false {% endif %}" aria-controls="chapter{{kount}}">
                <span class="d-flex flex-column">
                  <span class="h5 mb-1">{{course_topic.name}}
                    {% with completed_lessons_count=completed_lessons_count|get_item:course_topic.id %}
                      {% if completed_lessons_count == course_topic.lessons.all.count  and completed_lessons_count > 0%}
                        <span class="btn-sm rounded-pill p-1 text-sm btn-success fs-6">completed</span>
                      {% endif %}
                    {% endwith %}
                  </span>
                  <span class="fw-normal text-body">{{ completed_lessons_count|get_item:course_topic.id }} / {{course_topic.lessons.all.count}} | {{course_topic.lessons.all|total_duration|convert_minutes}}</span>
                </span>
              </button>
            </div>
            <div id="chapter{{kount}}" class="accordion-collapse collapse {% if kount == "One" %} show {% endif %}" data-bs-parent="#courseContent">
              <div class="accordion-body py-3 border-top">
                {% for lesson in course_topic.lessons.all %}
                  {% with lesson_kount=forloop.counter %}
                  <div class="form-check d-flex align-items-center mb-3">
                    <input class="form-check-input" type="checkbox" id="defaultCheck{{lesson_kount}}"
                      {% with user_lesson=user_lesson_dict|get_item:lesson.id %}
                        {% if user_lesson %}
                            {% if user_lesson.completed %}
                              checked=""
                            {% endif %}
                        {% endif %}
                      {% endwith %}
                    />
                    <label for="defaultCheck{{lesson_kount}}" class="form-check-label ms-3">
                      <a class="mb-0 h6" href="{% url 'user:lesson' course.id course_topic.id lesson.id %}">{{lesson_kount}}. {{lesson.name}}</a>
                        <span class="text-muted d-block">{{ lesson.duration|convert_minutes }}</span>
                    </label>
                  </div>
                  {% endwith %}
                  {% empty %}
                  <div class="form-check d-flex align-items-center mb-3">
                    <div class="">
                      <span class="mb-0 h6">No lesson available in this course topic yet</span>
                      <span class="text-muted d-block">N/A</span>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>

          </div>
        {% endwith %}
        {% empty %}
          <div class="accordion-item mb-0">
            <div class="accordion-header" id="headingOne">
              <button type="button" class="bg-lighter rounded-0 accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#chapterOne" aria-expanded="false" aria-controls="chapterOne">
                <span class="d-flex flex-column">
                  <span class="h5 mb-1">No course topic is available in this course yet </span>
                  <span class="fw-normal text-body">N/A</span>
                </span>
              </button>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


{% endblock %}
