{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}
{{ 'lessons.show_title'|get_config }}
{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/sweetalert2/sweetalert2.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}"/>
<link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}"/>
<link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/plyr/plyr.css' %}" />
{% comment %} <script src="jquery-3.7.1.min.js"></script> {% endcomment %}
{% endblock vendor_css %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet"  href="{% static 'vendor/css/pages/app-course-details.css' %}"/>
{% endblock page_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<!-- Form Validation -->
<script src="{% static 'vendor/libs/sweetalert2/sweetalert2.js' %}"></script>
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'vendor/libs/plyr/plyr.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/extended-ui-perfect-scrollbar.js' %}"></script>
<script src="{% static 'js/app-course-details.js' %}"></script>
{% endblock page_js %}

{% block content %}

<div class="card g-3 mt-2">
  <div class="card-body row g-3">
    <div class="col-lg-8">
      <div class="d-flex justify-content-between align-items-center flex-wrap mb-2 gap-1">
        <div class="me-1">
          <h5 class="mb-1">{{ course.name }}</h5>
          <p class="mb-1">Tutor. <span class="fw-medium {% random_text_color %}"> {{course.instructor.last_name}} {{course.instructor.first_name}} </span></p>
        </div>
        <div class="d-flex align-items-center">
          <span class="badge {% random_bg_label_color %}">{{ course.content_type|remove_before_vertical_bar }}</span>
          <i class='ti ti-share ti-sm mx-4 cursor-pointer'></i>
          <i class='ti ti-bookmarks ti-sm cursor-pointer'></i>
        </div>
      </div>
      <div class="card academy-content shadow-none border">
        <div class="p-2">

          {% if lesson.lesson_format == "video" %}
             <div class="cursor-pointer">
                <video class="w-100" id="plyr-video-player" playsinline controls>
                <source src="{{ lesson.lesson_material.url }}" type="video/mp4" />
              </video>
            </div>
          {% elif lesson.lesson_format == "text" %}
              <!--TODO: remove this after a while-->
              {% comment %} <div class="cursor-pointer rounded">
                <iframe
                    src="https://www.youtube.com/embed/bTqVqk7FSmY?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    class="w-100"
                    height="400px"
                  >
                </iframe>
              </div>
              <div class="cursor-pointer">
                <video class="w-100"
                id="plyr-video-player" playsinline controls>
                <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" type="video/mp4" />
                </video>
              </div> {% endcomment %}
              <div class="p-2 mt-2">
                <h5 class="mb-2">Material</h5>
                {{lesson.lesson_text }}
             </div>
          {% elif lesson.lesson_format == "pdf" %}
              <iframe src="{{ lesson.lesson_material.url }}" width="100%" height="500px">
                This browser does not support PDFs. Please download the PDF to view it: <a href="{{ lesson.lesson_material.url }}">Download PDF</a>
              </iframe>
          {% elif lesson.lesson_format == "text_and_video" %}
            <div class="cursor-pointer">
              <video class="w-100"
              id="plyr-video-player" playsinline controls>
              <source src="{{ lesson.lesson_material.url }}" type="video/mp4" />
              </video>
            </div>
            <div class="card-body">
              <h5 class="mb-2">Material</h5>
              {{lesson.lesson_text }}
            </div>
          {% else %}
            <div class="cursor-pointer rounded">
              <iframe
                  src="{{ lesson.lesson_video_link }}?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                  class="w-100"
                  height="400px"
                  >
              </iframe>
            </div>
          {% endif %}

          <div class="d-flex justify-content-start my-3">
            {% if lesson.exercise %}
              {% with user_lesson=user_lesson_dict|get_item:lesson.id %}
                {% if not user_lesson.completed %}
                  <a href="{% url 'user:exercise' course.id course_topic_id lesson_id %}" class="btn btn-sm btn-primary pl-2">Start Exercise</a>
                {% else %}
                  <a href="{% url 'user:exercise' course.id course_topic_id lesson_id %}" class="btn btn-sm btn-primary pl-2">View Submitted Solution</a>
              {% endif %}
              {% endwith %}
            {% endif %}
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="accordion stick-top accordion-bordered" id="courseContent">
        {% for course_topic in course_topics %}
        {% with kount=forloop.counter|number_to_words %}
          <div class="accordion-item {% if course_topic.id == course_topic_id %} active {% endif %} mb-0">
            <div class="accordion-header" id="heading{{kount}}">
              <button type="button" class="accordion-button bg-lighter rounded-0 {% if course_topic.id == course_topic_id %} collapsed {% endif %}" data-bs-toggle="collapse" data-bs-target="#chapter{{kount}}" aria-expanded="{% if kount == "One" %} true {% else %} false {% endif %}" aria-controls="chapter{{kount}}">
                <span class="d-flex flex-column">
                  <span class="h5 mb-1">{{course_topic.name}}
                    {% with completed_lessons_count=completed_lessons_count|get_item:course_topic.id %}
                      {% if completed_lessons_count == course_topic.lessons.all.count  and completed_lessons_count > 0%}
                        <span class="btn-sm rounded-pill p-1 text-sm btn-success fs-6">completed</span>
                      {% endif %}
                    {% endwith %}
                  </span>
                    <span class="fw-normal text-body">{{ completed_lessons_count|get_item:course_topic.id }}/ {{course_topic.lessons.all.count}} | {{course_topic.lessons.all|total_duration|convert_minutes}}</span>
                </span>
              </button>
            </div>
            <div id="chapter{{kount}}" class="accordion-collapse collapse {% if course_topic.id == course_topic_id %} show {% endif %}" data-bs-parent="#courseContent">
              <div class="accordion-body py-3 border-top">
                {% for lesson in course_topic.lessons.all %}
                  {% with lesson_kount=forloop.counter %}
                  <div class="form-check d-flex align-items-center mb-3">
                    <input class="form-check-input" type="checkbox" id="defaultCheck{{lesson_kount}}"
                      {% with user_lesson=user_lesson_dict|get_item:lesson.id %}
                        {% if user_lesson %}
                            {% if user_lesson.completed %}
                              checked=""
                            {% endif %}
                        {% endif %}
                      {% endwith %}
                    />
                    <label for="defaultCheck{{lesson_kount}}" class="form-check-label ms-3">
                      <a class="mb-0 h6 {% if lesson.id == lesson_id %} text-primary {% endif %}" href="{% url 'user:lesson' course.id course_topic.id lesson.id %}">{{lesson_kount}}. {{lesson.name}}</a>
                        <span class="text-muted d-block">{{ lesson.duration|convert_minutes }}</span>
                    </label>
                  </div>
                  {% endwith %}
                  {% empty %}
                  <div class="form-check d-flex align-items-center mb-3">
                    <div class="">
                      <span class="mb-0 h6">No lesson available in this course topic yet</span>
                      <span class="text-muted d-block">N/A</span>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endwith %}
        {% empty %}
          <div class="accordion-item mb-0">
            <div class="accordion-header" id="headingOne">
              <button type="button" class="bg-lighter rounded-0 accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#chapterOne" aria-expanded="false" aria-controls="chapterOne">
                <span class="d-flex flex-column">
                  <span class="h5 mb-1">No course topic is available in this course yet </span>
                  <span class="fw-normal text-body">N/A</span>
                </span>
              </button>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


{% endblock %}
