<footer class="content-footer footer bg-footer-theme">
  <div
    class="{{container_class}} d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column"
  >
    <div class="mb-2 mb-md-0">
      ©
      <script>
        document.write(new Date().getFullYear());
      </script>
      , made with ❤️ by
      <a
        href="{% get_theme_variables 'creator_url' %}"
        target="_blank"
        class="footer-link fw-medium"
        >{% get_theme_variables 'creator_name' %}</a
      >
    </div>
    <div class="d-none d-lg-inline-block">
      <a
        href="{% get_theme_variables 'facebook_url' %}"
        class="footer-link me-4"
        target="_blank"
        >Facebook</a
      >
      <a
        href="{% get_theme_variables 'twitter_url' %}"
        target="_blank"
        class="footer-link me-4"
        >Twitter</a
      >
      <a
        href="{% get_theme_variables 'linkedin_url' %}"
        target="_blank"
        class="footer-link me-4"
        >LinkedIn</a
      >
      <a
        href="{% get_theme_variables 'github_url' %}"
        target="_blank"
        class="footer-link d-none d-sm-inline-block"
        >Github</a
      >
    </div>
  </div>
</footer>
