{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}
{{ 'exercises.show_title'|get_config }}
{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/sweetalert2/sweetalert2.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}"/>
<link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}"/>
<link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/plyr/plyr.css' %}" />
{% comment %} <script src="jquery-3.7.1.min.js"></script> {% endcomment %}
{% endblock vendor_css %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet"  href="{% static 'vendor/css/pages/app-course-details.css' %}"/>
{% endblock page_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<!-- Form Validation -->
<script src="{% static 'vendor/libs/sweetalert2/sweetalert2.js' %}"></script>
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'vendor/libs/plyr/plyr.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
<script src="{% static 'js/extended-ui-perfect-scrollbar.js' %}"></script>
<script src="{% static 'js/app-course-details.js' %}"></script>
<script src="{% static  'js/app-user-exercises-index.js' %}"></script>
{% endblock page_js %}

{% block content %}

<div class="card g-3 mt-2">
  <div class="card-body row g-3">
    <div class="col-lg-8">
      <div class="d-flex justify-content-between align-items-center flex-wrap mb-2 gap-1">
        <div class="me-1">
          <h5 class="mb-1">{{ course.name }}</h5>
          <p class="mb-1">Tutor. <span class="fw-medium {% random_text_color %}"> {{course.instructor.last_name}} {{course.instructor.first_name}} </span></p>
        </div>
        <div class="d-flex align-items-center">
          <span class="badge {% random_bg_label_color %}">{{ course.content_type|remove_before_vertical_bar }}</span>
          <i class='ti ti-share ti-sm mx-4 cursor-pointer'></i>
          <i class='ti ti-bookmarks ti-sm cursor-pointer'></i>
        </div>
      </div>
      <div class="card academy-content shadow-none border">
        <div class="p-2">
          <div class="collapse" id="courseMaterial">
            {% if lesson.lesson_format == "video" %}
              <div class="cursor-pointer">
                  <video class="w-100" id="plyr-video-player" playsinline controls>
                  <source src="{{ lesson.lesson_material.url }}" type="video/mp4" />
                </video>
              </div>
            {% elif lesson.lesson_format == "text" %}
                <div class="p-2 mt-2">
                  <h5 class="mb-2">Material</h5>
                  {{lesson.lesson_text }}
              </div>
            {% elif lesson.lesson_format == "pdf" %}
                <iframe src="{{ lesson.lesson_material.url }}" width="100%" height="500px">
                  This browser does not support PDFs. Please download the PDF to view it: <a href="{{ lesson.lesson_material.url }}">Download PDF</a>
                </iframe>
            {% elif lesson.lesson_format == "text_and_video" %}
              <div class="cursor-pointer">
                <video class="w-100"
                id="plyr-video-player" playsinline controls>
                <source src="{{ lesson.lesson_material.url }}" type="video/mp4" />
                </video>
              </div>
              <div class="card-body">
                <h5 class="mb-2">Material</h5>
                {{lesson.lesson_text }}
              </div>
            {% else %}
              <div class="cursor-pointer rounded">
                <iframe
                    src="{{ lesson.lesson_video_link }}?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    class="w-100"
                    height="400px"
                    >
                </iframe>
              </div>
            {% endif %}
          </div>

          <div class="d-flex justify-content-start my-3">
            <button
            class="btn btn-primary btn-sm"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#courseMaterial"
             aria-expanded="false"
             aria-controls="courseMaterial">
              Display/Hide Material
            </button>
          </div>
        </div>
      </div>

      <div class="card exercise-content shadow-none border mt-2 mt-md-3">

        <div class="d-flex flex-column flex-container justify-content-start">
          <div class="m-3">
            <p>Question?</p>
            <p>{{lesson.exercise.question}}</p>
          </div>
          {% if messages %}
              <div class="messages mx-3">
                  {% for message in messages %}
                  <div {% if message.tags %} class="{{ message.tags }}" {% endif %}
                    role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                      aria-label="Close"
                    ></button>
                    {{ message|escape }}
                    {% comment %} <strong>{{ message }}</strong> {% endcomment %}
                  </div>
                  {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="d-flex flex-container justify-content-center" style="">
          <input type="hidden" id="language" value="python">
          <div id="editor" class="mt-2" style="width: 93%;height: 200px; border: 1px solid #ccc;">print("Hello, World!")</div>
        </div>
        <div class="d-flex justify-content-start align-content-center">
          <button onclick="runCode()" class="btn btn-sm btn-primary m-4">Run Code</button>
        </div>
        <div class="d-flex justify-content-center align-content-center mb-3 mx-4" style="height: 100px">
          <div id="output"class="h-auto w-100 overflow-auto bg-secondary bg-opacity-10 p-2" ></div>
        </div>
        <form action="" method="post">
          {% csrf_token %}
          <input type="hidden" name="exercise_id" value="{{exercise.id}}">
          <input type="hidden" id="solution" name="solution">
          <input type="hidden" id="solution_output" name="solution_output">
          <div class="d-flex justify-content-start align-content-center">
            <button id="submit-exercise" type="submit" class="btn btn-sm btn-primary mx-4 my-3" disabled>Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="accordion stick-top accordion-bordered" id="courseContent">
        {% for course_topic in course_topics %}
        {% with kount=forloop.counter|number_to_words %}
          <div class="accordion-item {% if course_topic.id == course_topic_id %} active {% endif %} mb-0">
            <div class="accordion-header" id="heading{{kount}}">
              <button type="button" class="accordion-button bg-lighter rounded-0 {% if course_topic.id == course_topic_id %} collapsed {% endif %}" data-bs-toggle="collapse" data-bs-target="#chapter{{kount}}" aria-expanded="{% if kount == "One" %} true {% else %} false {% endif %}" aria-controls="chapter{{kount}}">
                <span class="d-flex flex-column">
                  <span class="h5 mb-1">{{course_topic.name}}</span>
                    <span class="fw-normal text-body">0 / {{course_topic.lessons.all.count}} | {{course_topic.lessons.all|total_duration|convert_minutes}}</span>
                </span>
              </button>
            </div>
            <div id="chapter{{kount}}" class="accordion-collapse collapse {% if course_topic.id == course_topic_id %} show {% endif %}" data-bs-parent="#courseContent">
              <div class="accordion-body py-3 border-top">
                {% for lesson in course_topic.lessons.all %}
                  {% with lesson_kount=forloop.counter %}
                  <div class="form-check d-flex align-items-center mb-3">
                    <input class="form-check-input" type="checkbox" id="defaultCheck{{lesson_kount}}"  {% if lesson.completed %}checked=""{% endif %} />
                    <label for="defaultCheck{{lesson_kount}}" class="form-check-label ms-3">
                      <a class="mb-0 h6 {% if lesson.id == lesson_id %} text-primary {% endif %}" href="{% url 'user:lesson' course.id course_topic.id lesson.id %}">{{lesson_kount}}. {{lesson.name}}</a>
                        <span class="text-muted d-block">{{ lesson.duration|convert_minutes }}</span>
                    </label>
                  </div>
                  {% endwith %}
                  {% empty %}
                  <div class="form-check d-flex align-items-center mb-3">
                    <div class="">
                      <span class="mb-0 h6">No lesson available in this course topic yet</span>
                      <span class="text-muted d-block">N/A</span>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endwith %}
        {% empty %}
          <div class="accordion-item mb-0">
            <div class="accordion-header" id="headingOne">
              <button type="button" class="bg-lighter rounded-0 accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#chapterOne" aria-expanded="false" aria-controls="chapterOne">
                <span class="d-flex flex-column">
                  <span class="h5 mb-1">No course topic is available in this course yet </span>
                  <span class="fw-normal text-body">N/A</span>
                </span>
              </button>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


{% endblock %}
